<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
<div ng-app="myApp" ng-controller="myCtrl" ng-init="names=['test1','test2','test3'];animals=[
{ name: 'cow', color: 'white' },
{ name: 'lion', color: 'brown' },
{ name: 'tiger', color: 'stripes' }

]">
Firstname: <input type="text" data-ng-model="firstName" >
Lastname: <input type="text" data-ng-model="lastName" >
 
<p ng-repeat="x in names">
item:{{x}}
<p>
<p>Name: {{ firstName + " " +  lastName }} <p>

<p ng-repeat="x in animals" >
{{ x.name + " " +  x.color }}
<p>
</div>

<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope) {
	$scope.firstName = "John";
	$scope.lastName ="Joe";
	
	
});
</script>
</body>
</html>